<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
                             http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">

    <display-name>BobrovichSiarhey</display-name>

<!--     Конфигурация jsp Random.jsp-->

        <servlet>
            <servlet-name>RandomJsp</servlet-name> <!-- jsp-file -->
            <jsp-file>/Random.jsp</jsp-file> <!-- jsp-file -->
        </servlet>

    <!--     Конфигурация jsp Random.jsp-->

        <servlet-mapping>
            <servlet-name>RandomJsp</servlet-name> <!-- jsp -->
            <url-pattern>/random</url-pattern> <!-- Ссылка браузера -->
        </servlet-mapping>


<!--  Анотация, ставится над сервлетом и указывается имя сервлета, и URL(адрес) сервлета  -->
    <!-- @WebServlet(name = "****", urlPatterns = "****" -->
    <!-- Servlets -->

    <!-- Добавляем сервлет FirstServlet -->

<!--    <servlet>-->
<!--        <servlet-name>FirstServlet</servlet-name> &lt;!&ndash; Название сервлета &ndash;&gt;-->
<!--        <servlet-class>org.siarhey.FirstServlet</servlet-class> &lt;!&ndash; Путь до сервлета &ndash;&gt;-->
<!--    </servlet>-->

    <!-- Конфигурация сервлетов FirstServlet -->

<!--    <servlet-mapping>-->
<!--        <servlet-name>FirstServlet</servlet-name> &lt;!&ndash; Сервлет &ndash;&gt;-->
<!--        <url-pattern>/hello-world</url-pattern> &lt;!&ndash; Ссылка браузера &ndash;&gt;-->
<!--    </servlet-mapping>-->

    <!-- JSP files -->

    <!-- Конфигурация jsp 1 FirstJsp -->
<!--    -->
<!--    <servlet>-->
<!--        <servlet-name>FirstJsp</servlet-name> &lt;!&ndash; jsp-file &ndash;&gt;-->
<!--        <jsp-file>/firstJsp.jsp</jsp-file> &lt;!&ndash; jsp-file &ndash;&gt;-->
<!--    </servlet>-->

    <!-- Конфигурация jsp 1 FirstJsp -->
<!--    -->
<!--    <servlet-mapping>-->
<!--        <servlet-name>FirstJsp</servlet-name> &lt;!&ndash; jsp &ndash;&gt;-->
<!--        <url-pattern>/hello-world-jsp</url-pattern> &lt;!&ndash; Ссылка браузера &ndash;&gt;-->
<!--    </servlet-mapping>-->

</web-app>